@model GMTVendorEvaluationWebApp.Models.Evaluation

@{
    Layout = "~/Views/Shared/edit_layout.cshtml";
}

@{
    ViewData["Title"] = "Evaluation_Completed";
}

<div class="mx-auto" style="width: 200px; border:50px; padding: 100px">
    <h1>
        Evaluation Completed
    </h1>
    
</div>

